<div class = "container bg-success">
<%= link_to(user_path(@author)) do %> <!-- Use link_to helper method -->
  <button id="back-btn">⬅</button>
<% end %>

<%= render 'shared/user', user: @author %>
  <% @posts.each do |post| %>
    <a href="/users/<%= post.author.id %>/posts/<%= post.id %>" class="text-decoration-none">
      <div class="mb-3">
        <%= render 'shared/post', post: post %>
        <%= render 'shared/comment', comments: post.recent_comments unless post.recent_comments.empty? %>
      </div>
    </a>
  <% end %>
  <nav class="">
  <ul class="pagination justify-content-center align-items-center">
      <% (1..@total_pages).each do |page| %>
          <li class="page-item"><a class="btn bg-white m-1" href="/users/<%= @author.id %>/posts?page=<%= page %>"><%= page %></a></li>
      <% end %>
  </ul>
</nav>

</div>