<div class = "container bg-success">
<a href="<%= user_posts_path() %>">
    <button id="back-btn">⬅</button>
</a>
<h3>Post "#" by <%= @current_user.name %></h3>
    <a href="/users/<%= @post.author.id %>/posts/<%= @post.id %>" class="text-decoration-none">
      <div class="mb-3">
        <%= render 'shared/post', post:@post %>
        <div class= "row p-3 border">
        <%= link_to 'Add a new commment', "/users/#{@current_user.id}/posts/#{@post.id}/comments/new", class: "btn bg-white" %>
        <%= render partial: "shared/like", locals: { like: Like.new, post_id: @post.id, user_id: @post.author.id } %>
        </div>
        <%= render 'shared/comment', comments: @post.comments unless @post.comments.empty? %>
      </div>
    </a>
</div>