<div class = "container bg-success">
<a href="<%= user_posts_path() %>">
    <button id="back-btn">⬅</button>
</a>
<h3>Post "#" by <%= @post.author.name %></h3>
    <a href="/users/<%= @post.author.id %>/posts/<%= @post.id %>" class="text-decoration-none">
  <h3> <%= current_user.role %> : <%= current_user.name %></h3>

      <div class="mb-3">
        <%= render 'shared/post', post:@post %>
        <div class= "row p-3 border">
        <%= link_to 'Add a new commment', "/users/#{current_user.id}/posts/#{@post.id}/comments/new", class: "btn bg-white" %>

        <%= form_with model: Like.new, url: user_post_likes_path(author_id:@post.author.id , post_id:@post.id), local: true do |form| %>
          <%= form.submit "Like" %>
        <% end %>      
 
        <% if can? :delete, @post %>
        <p>User Role: <%= current_user.role %></p>
          <%= link_to 'Delete', user_post_path(current_user, @post), data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'delete-btn'  %>
        <% end %>
        </div>

        <div class="card-body">
          <% @post.comments.each do |comment| %>
            <p><%= comment.author.name %>: <%= comment.text %></p>
            <% if can? :delete, @post %>
              <%= button_to 'Delete comment', user_post_comment_path(current_user, @post, comment), method: :delete, class: 'delete-btn' %>
            <% end %>
          <% end %>
        </div>
    </div>
    </a>
</div>